.content {
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 8px;
  height: 25vh;
  background-position: center;
  background-size: cover;
}

.title {
  text-align: left;
  padding-top: 3vh;
  padding-left: 5vw;
  margin-bottom: 1vh;
  font-family: Signika;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}

.flexContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  width: 100%;
}

img {
  width: 50%;
  max-width: 35px;
  max-height: 52px;
  width: auto;
  height: auto;
}

.search-bar {
  width: 50%;
  text-decoration: none;
  border: none;
  font-family: Signika;
  width: 50vw;
  text-align: center;
  color: white;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: #2e3243;
  height: 5vh;
}

.search-submit {
  text-decoration: none;
  border: none;
  text-align: center;
  background-color: #2e3243;
  height: 5vh;
  padding-left: 5vw;
}
