@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600&family=Acme&family=Actor&family=Advent+Pro:wght@200&family=Alef&family=Imperial+Script&family=Signika:wght@300&display=swap');
.cinemaTitle,
.movieName {
  width: 90%;
  height: 38px;
  font-family: Advent Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;

  /* identical to box height */
  text-align: left;

  color: #ffffff;
}
#movieDescription {
  width: 90%;
  height: 139px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 35px;
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.76px;
  text-align: left;
  color: #ffffff;
  opacity: 0.7;
}

.showdateSelected {
  background: rgba(141, 150, 173, 0.3);
  width: 62px;
  height: 65px;
  border: 1px solid rgba(189, 202, 236, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
}

.showdate {
    background: transparent;
    width: 62px;
    height: 65px;
    border: 1px solid rgba(189, 202, 236, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
}


.movieDetailsText{
width: 175px;
height: 22px;
font-family: Signika;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 22px;
color: #FFFFFF;
}

.tab {
    color: #000;
}

.container{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    border-radius :25px;
}

.showdateFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: #2e3243;
  height: auto;
}

.showdateContainer {
    position: fixed;
    width: 90%;
}

.showdateTitle {
    font-family: Abhaya Libre SemiBold;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
    opacity: 0.5;
  }

  .showDetails {
    font-family: Abhaya Libre SemiBold;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #ffffff;
  }

  .showdateTitleSelected {
    font-family: Abhaya Libre SemiBold;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
  }

  .showdateValue {
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.24px;
    margin-top: 3px;
    color: #ffffff;
    opacity: 0.5;
  }

  .showtimeNotNull {
    background: rgba(108, 138, 113);
    width: 68px;
    height: 37px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .showtimeNull {
    background: rgba(152, 87, 87);
    width: 69px;
    height: 37px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .showdateValueSelected {
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.24px;
    margin-top: 3px;
    color: #FFC600;
  }

.timeslot {
  font-family: Abhaya Libre SemiBold;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 3px;
  color: #FFFFFF;
}

.price {
    font-family: Abhaya Libre SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #656565;
  }

.emptyDiv{
  height: 300px;
}

.genre{
font-family: Alef;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.24px;
color: #FFFFFF;
margin-top: 3px;
margin-left: 5px;
margin-right: 20px;
opacity: 0.6;
}

.navBar{
    position: fixed;
    width: 100%;
    top: 0;
    font-family: Acme;
    font-style: normal;
    color: #ffffff;
    background-color: #2e3243;
    height: 51px;
}

.bottomBar {
  position: fixed;
  bottom: 0;
}

.backArrow{
  color: #8D96AD;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 5px;
}