@import url("https://fonts.googleapis.com/css2?family=Actor&family=Advent+Pro:wght@200&family=Signika:wght@300&display=swap");

.App {
  text-align: center;
}

body {
  background-color: #2e3243;
  overflow: scroll;
}

.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 70px;
  background-color: #2e3243;
}

.navigation-tab {
  padding-left: 5vw;
  padding-right: 5vw;
  opacity: 25%;
}

.navigation-tab-active {
  padding-left: 15vw;
  padding-right: 15vw;
  opacity: 100%;
}

.App-header {
  background-color: #2e3243;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (min-width: 390px) {
}

@media only screen and (min-height: 844px) {
}
